/*----- Styles Généraux -----*/


/*----- Section Hero -----*/


/*----- Section footer -----*/

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}