/*----- Styles Généraux -----*/

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 150px;
}


/*----- Section Hero -----*/

.application {
    aspect-ratio: 5/9;
    border: 5px;
    ;
}

.swiper-screenshots {
    position: relative;
    width: 30vw;
    height: 110vh;
    margin: auto;
    border: 16px black solid;
    border-top-width: 60px;
    border-bottom-width: 60px;
    border-radius: 36px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.2);
}

.iphone {
    position: relative;
    width: 30vw;
    height: 110vh;
    margin: auto;
    border: 16px black solid;
    border-top-width: 60px;
    border-bottom-width: 60px;
    border-radius: 36px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.2);
}

.swiper {
    height: 530px;
    width: 330px;
}


/*----- Section footer -----*/

a.text-white {
    text-decoration: none;
}

.infolettre {
    background-image: url(../assets/mutekinfolettre.jpg);
    background-size: cover;
    background-position: center;
    background-color: white;
}

.section-features {
    background-color: white;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    flex: 1;
}